body {
    background-color: black;
}

h1 {
    font-size: 48px;
    text-align: center;
    color: #6b6a67;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 95%;
    margin: 0 auto;
    z-index: 1;
}

.text {
    font-size: 18px;
}

.webgl {
    position: fixed;
    top: 0%;
    left: 55%;
    outline: none;
    z-index: 2;
}

.essay {
    color: white;
    font-size: 24px;
    width: 50%;
    position: relative;
}

.clickable {
    color: rgb(180, 94, 33);
    cursor: grab;
}

.clickable:hover {
    color: rgb(238, 195, 36);
}